Guest Names :
<table border="1">
	<tr><th>Sr No</th>
		<th>Guest Name</th></tr>
	<tr *ngFor="let name of guestNames; let i = index">
		<td>{{i + 1}}</td>
		<td>{{name}}</td>
	</tr>
</table>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a routerLink="/">Home | </a></li>
				<li role="presentation"><a [routerLink]="['/servers']">Servers | </a></li>
				<li role="presentation"><a href="#">Users</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<hr>
<div class="container">
  @ViewChild and @ViewChildren
  <app-parent>
  </app-parent>

  <br><br>
  @ContentChild Example:
  <app-parent1>
    <div>Parent 1<input #myinput readonly value='Test'></div>
  </app-parent1>
</div>
